In [1]:
# Cell 1 – imports

import gc
import numpy as np
import pandas as pd

In [2]:
# Cell 2 – load all candidate files

candidate_files = [
    '../data/outputs/candidates_weekly_trending.parquet',
    '../data/outputs/candidates_itemcf.parquet',
    '../data/outputs/candidates_recent_top.parquet',
    '../data/outputs/candidates_repurchase.parquet',
    #'../data/outputs/candidates_same_product.parquet', # too many rows and bad recall
    '../data/outputs/candidates_user_overlap.parquet',
    '../data/outputs/candidates_age_bucket_pop.parquet',
]

dfs = []
for path in candidate_files:
    if path.endswith('.parquet'):
        df = pd.read_parquet(path)
    else:
        df = pd.read_csv(
            path,
            dtype={
                'customer_id': 'int64',
                'article_id': 'int32',
                'value': 'float32',
                'window_type': 'string',
                'customer_id_hex': 'string',
            },
        )
    dfs.append(df)

# Concatenate all candidates
all_cand = pd.concat(dfs, axis=0, ignore_index=True)
all_cand.head()

,customer_id,article_id,value,window_type,customer_id_hex,age_bucket
0,9162379705966698872,883307004,2436.140625,biweekly,1bd6056682c35cc892c9db3165c4b3d8d3b208079cee77...,NaN
1,9162379705966698872,748355003,2133.914307,older,1bd6056682c35cc892c9db3165c4b3d8d3b208079cee77...,NaN
2,9162379705966698872,853839003,1838.798462,older,1bd6056682c35cc892c9db3165c4b3d8d3b208079cee77...,NaN
3,9162379705966698872,854951003,652.056213,older,1bd6056682c35cc892c9db3165c4b3d8d3b208079cee77...,NaN
4,9162379705966698872,884081001,468.520721,older,1bd6056682c35cc892c9db3165c4b3d8d3b208079cee77...,NaN

In [3]:
# New Cell – debug per-source coverage
for path, df in zip(candidate_files, dfs):
    print(path)
    print("  rows:", len(df))
    print("  unique customers:", df['customer_id'].nunique())
    print("  mean cand / customer:", df.groupby('customer_id')['article_id'].nunique().mean())

../data/outputs/candidates_weekly_trending.parquet
  rows: 7851328
  unique customers: 959265
  mean cand / customer: 8.184733102948611
../data/outputs/candidates_itemcf.parquet
  rows: 50282233
  unique customers: 374895
  mean cand / customer: 134.12350924925647
../data/outputs/candidates_recent_top.parquet
  rows: 9653601
  unique customers: 867957
  mean cand / customer: 11.122211123362103
../data/outputs/candidates_repurchase.parquet
  rows: 16172079
  unique customers: 1356709
  mean cand / customer: 11.92007939801387
../data/outputs/candidates_user_overlap.parquet
  rows: 18442629
  unique customers: 279058
  mean cand / customer: 66.08887399752022
../data/outputs/candidates_age_bucket_pop.parquet
  rows: 82318800
  unique customers: 1371980
  mean cand / customer: 60.0

In [4]:
# Cell 3 – deduplicate per (customer_id, article_id), keep max value
all_cand = (
    all_cand
    .sort_values('value', ascending=False)
    .drop_duplicates(['customer_id', 'article_id'], keep='first')
)
# Ensure dtypes (safety)
all_cand['customer_id'] = all_cand['customer_id'].astype('int64')
all_cand['article_id'] = all_cand['article_id'].astype('int32')
all_cand['value']      = all_cand['value'].astype('float32')

all_cand.head()

,customer_id,article_id,value,window_type,customer_id_hex,age_bucket
5156209,-2906901524099224476,923758001,5905826.00,biweekly,d264057471d5f09368905d1429907965dcaa72ed15f35f...,NaN
7363042,-8098947296956176845,809238001,3005049.50,monthly,bd27446f7d260a5e16a99d518007e45217fe7e04178312...,NaN
6789750,-6746527055964686677,924243002,2678193.25,biweekly,e272e5b704883e23831edabeeaef557eb1708f843ed82c...,NaN
6279530,-5514443247773956906,923128001,2412895.50,weekly,8cc410db93a1642bb1ce42cea696afc524c2bb58ccb4ba...,NaN
1217855,6361568379542243357,805947001,2212859.00,weekly,4db1f33dca72b9ce9332c4fdc3d014982c7e3265c9e0e9...,NaN

In [5]:
# # Global per-customer cap... MANUALLY ADDED ITEMS
# CAP_PER_CUSTOMER = 300
# all_cand = all_cand.sort_values(['customer_id','value'], ascending=[True,False])
# all_cand['rnk_cap'] = all_cand.groupby('customer_id').cumcount()+1
# all_cand = all_cand[all_cand['rnk_cap'] <= CAP_PER_CUSTOMER].drop(columns=['rnk_cap'])

# # Inject fixed 12 trending items for EVERY customer (to inspect recall impact)
# trend_items_str = ["0448509014","0573085028","0751471001","0706016001",
#                    "0673677002","0715624001","0706016003","0158340001",
#                    "0579541001","0372860001","0372860002","0706016002"]
# trend_items = [int(x) for x in trend_items_str]  # they already have leading 0; int() ok

# all_customers = all_cand['customer_id'].unique()
# trend_rows = [(cid, art, 0.0005, 'global_trend12') for cid in all_customers for art in trend_items]

# trend_df = pd.DataFrame(trend_rows, columns=['customer_id','article_id','value','window_type'])
# trend_df['customer_id'] = trend_df['customer_id'].astype('int64')
# trend_df['article_id']  = trend_df['article_id'].astype('int32')
# trend_df['value']       = trend_df['value'].astype('float32')

# # Append + re-dedup (keep higher value if already present)
# all_cand = pd.concat([all_cand, trend_df], ignore_index=True)
# all_cand = (
#     all_cand.sort_values('value', ascending=False)
#             .drop_duplicates(['customer_id','article_id'], keep='first')
# )
# # Re-apply cap (small chance additions push some over)
# all_cand = all_cand.sort_values(['customer_id','value'], ascending=[True,False])
# all_cand['rnk_cap'] = all_cand.groupby('customer_id').cumcount()+1
# all_cand = all_cand[all_cand['rnk_cap'] <= CAP_PER_CUSTOMER].drop(columns=['rnk_cap'])

In [6]:
# ONLY RUN TO CHECK COVER. SCRIPT TAKES ~10 MINUTES ===
import pandas as pd, numpy as np, gc

print("\n[Recall check vs last 7 days labels]")
tx = pd.read_csv(
    '../data/input_data/transactions_train.csv',
    usecols=['t_dat','customer_id','article_id'],
    dtype={'t_dat':'string','customer_id':'string','article_id':'int32'}
)
tx['customer_id_int'] = tx['customer_id'].str[-16:].apply(lambda h: np.int64(np.uint64(int(h,16))))
tx['t_dat'] = pd.to_datetime(tx['t_dat'])
last_ts = tx['t_dat'].max()
cut_ts  = last_ts - pd.Timedelta(days=7)

label_tx = tx[(tx['t_dat'] > cut_ts) & (tx['t_dat'] <= last_ts)]
labels = (label_tx.groupby(['customer_id_int','article_id'])['t_dat']
          .size().reset_index()[['customer_id_int','article_id']])
labels = labels.rename(columns={'customer_id_int':'customer_id'})

# Build set for quick per-source coverage
label_set = set(map(tuple, labels[['customer_id','article_id']].to_numpy()))

# Overall coverage using deduped pool
cand_pairs = all_cand[['customer_id','article_id']].drop_duplicates()
covered = labels.merge(cand_pairs, on=['customer_id','article_id'], how='left', indicator=True)
overall = (covered['_merge'] == 'both').sum()
print(f"Total label pairs: {len(labels)}")
print(f"Covered by all candidates: {overall}")
print(f"Recall: {overall/len(labels):.4f}")

# Per-source contribution (approximate coverage)
for path, df in zip(candidate_files, dfs):
    pairs = set(map(tuple, df[['customer_id','article_id']].drop_duplicates().to_numpy()))
    inter = len(label_set & pairs)
    print(f"{path:55s} covers {inter:7d} ({inter/len(labels):.4f})")

del tx, label_tx, labels, cand_pairs, covered, label_set, pairs
gc.collect()

[Recall check vs last 7 days labels]
Total label pairs: 213728
Covered by all candidates: 30493
Recall: 0.1427
../data/outputs/candidates_weekly_trending.parquet      covers    8134 (0.0381)
../data/outputs/candidates_itemcf.parquet               covers   12879 (0.0603)
../data/outputs/candidates_recent_top.parquet           covers    7327 (0.0343)
../data/outputs/candidates_repurchase.parquet           covers    7239 (0.0339)
../data/outputs/candidates_user_overlap.parquet         covers    6952 (0.0325)
../data/outputs/candidates_age_bucket_pop.parquet       covers   12327 (0.0577)

0

In [6]:
# Add synthetic candidates for submission customers missing from candidate pool
sub = pd.read_csv('../data/input_data/sample_submission.csv', usecols=['customer_id'], dtype={'customer_id': 'string'})
sub['customer_id'] = sub['customer_id'].str[-16:].apply(lambda h: np.int64(np.uint64(int(h, 16))))

missing = set(sub['customer_id'].unique()) - set(all_cand['customer_id'].unique())
print("Customers missing candidates:", len(missing))

if missing:
    gp = pd.read_json('../data/outputs/general_pred_str.json', typ='series')
    top_items = [int(x) for x in gp['general_pred_str'].split()][:20]  # small cap for features
    synth = pd.DataFrame(
        [(cid, art, 0.001, 'synthetic') for cid in missing for art in top_items],
        columns=['customer_id', 'article_id', 'value', 'window_type']
    )
    synth['customer_id'] = synth['customer_id'].astype('int64')
    synth['article_id']  = synth['article_id'].astype('int32')
    synth['value']       = synth['value'].astype('float32')
    all_cand = pd.concat([all_cand, synth], ignore_index=True)

Customers missing candidates: 0

In [7]:
cand_per_cust = all_cand.groupby('customer_id')['article_id'].nunique()
print("Number of customers:", cand_per_cust.shape[0])
print("Mean candidates per customer:", cand_per_cust.mean())
print("Median candidates per customer:", cand_per_cust.median())
print("Customer with max candidates:", cand_per_cust.max())
print("Customer with min candidates:", cand_per_cust.min())

Number of customers: 1371980
Mean candidates per customer: 117.00116182451639
Median candidates per customer: 70.0
Customer with max candidates: 616
Customer with min candidates: 60

In [8]:
# Cell 4 – save merged candidates_for_ranker.csv

#all_cand.to_csv('../data/outputs/candidates_for_ranker.csv', index=False)
all_cand.to_parquet('../data/outputs/candidates_for_classifier.parquet', index=False)

del all_cand, dfs
gc.collect()

20